<!DOCTYPE html>
<html>
  <head>
    <% include headerStuff %>
  </head>
  <body>
    <% include pageHeader %>
  
    <h3><%= note?note.title:'' %></h3>
    <p><%= note?note.body:'' %></p>
    <p>Key: <%= note?note.key:'' %> </p>

    <% if(note?note.key:'') { %>
        <hr/>
        <p>
            <a href="/notes/destory?noteKey=<%= note.key%>">Delete</a>
            <a href="/notes/edit?noteKey=<%= note.key %>">Edit</a>
        </p>
    <%} %>



    <% include footer %>
  </body>
</html>