<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
<% include pageHeader %>
<div class='row'><div class='col-xs-12'>
<% if (user) %>
<form method='POST' action='/notes/save'>
<input type='hidden' name='docreate' value='<%= docreate?"create":"update" %>'>
<div class="form-group">
    <label for="noteKey">Key</label>
<% if(docreate) { %>
    <input class="form-control" type='text' name='noteKey' value='' placeholder='key'/>
<% } else { %>
    <%= note?noteKey: "" %>
    <input class="form-control" type='hidden' name='noteKey' value='<%=note?noteKey:""%>'>
<% } %>
</div>
<div class='form-group">
<label for='title'>Title:</label>
<input class="form-control" type='text' name='title' value='<%=note?note.title:""%>' placeholder="note title"/>
</div>

<div class="form-group">
<textarea class="form-control" row=5 cols=40 name='body'> <%=note? note.body: ""%></textarea>
</div>

<input type='submit' value='Submit'/>
</form>
<% } else { %>
    <% include not-logged-in %>
<%} %>
</div></div>


<% include footer %>
</body>
</html>